# ---------------------------------------------------------------------------- #
#                                     Nuxt                                     #
# ---------------------------------------------------------------------------- #

# App
NUXT_PUBLIC_APP_URL="http://localhost:3000"

# SEO
NUXT_PUBLIC_SITE_URL="http://localhost:3000"

# ---------------------------------------------------------------------------- #
#                                   Database                                   #
# ---------------------------------------------------------------------------- #

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/campus_flow"

# ---------------------------------------------------------------------------- #
#                                     Auth                                     #
# ---------------------------------------------------------------------------- #

NUXT_SESSION_PASSWORD=password-with-at-least-32-characters

# ---------------------------------------------------------------------------- #
#                                     Image                                    #
# ---------------------------------------------------------------------------- #

NUXT_OG_IMAGE_SECRET=743459e47dee5604595602955cd73e16d245a1ad31e094708859325e745c2fa0
s
# ---------------------------------------------------------------------------- #
#                                      S3                                      #
# ---------------------------------------------------------------------------- #

NUXT_S3_HOST="http://localhost:54321"
NUXT_S3_REGION="us-east-1"
NUXT_S3_ACCESS_KEY="your-access-key-here"
NUXT_S3_SECRET_KEY="your-secret-key-here"

# ---------------------------------------------------------------------------- #
#                                    Brevo                                     #
# ---------------------------------------------------------------------------- #

NUXT_BREVO_API_KEY="xkeysib-your_brevo_api_key"
